# Dependencies
node_modules

# Environment
.env
.env.local
.env.*.local

# Build output
dist
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/**/migration_lock.toml

# ESLint
.eslintcache
